* {
    box-sizing: border;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background: linear-gradient(240deg, #ff462d .13%, #ff422f 26.19%, #ff3634 52.6%, #ff223c 79.08%, #ff0c45); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    background: url(./assets/chad-madden-SUTfFCAHV_A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes snow {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: 300px 1000px;
    }
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

header {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    color: #Faf346;
    text-shadow: 3px 3px 10px #FFFFF0;
    text-transform: uppercase;
    pointer-events: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.logo {
    margin: 0.2em;
    padding: 0.25em;
}

.logo img {
    width: 25rem;
}

main {
    width: auto;
    /* height: auto; */
    min-height: 500px;
    /* margin-bottom: 5rem; */
}

main .container {
    width: auto;
    height: auto;
    padding: 0.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h4 {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

.snow-animation {
    background-image: url(./assets/win.png);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation: snow 3s linear infinite;
    pointer-events: none;
    display: none;
    z-index: 5;
}

.draw_area {
    width: 100%;
    height: 100%;
}

.draw_area .outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16.3rem;
    margin: 0 auto;
    padding: 1.625rem;
    width: 40rem;
    z-index: 3;
    background: url(./assets/draw_animation1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.3s linear;
}

.inner {
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    width: 28rem;
    height: 13rem;
    margin: 6rem 3rem 4rem 0;
    z-index: 4;
}

.slottt-machine-recipe {
    margin: 0px auto;
    width: 700px;
    margin-top: 50px;
}

.slottt-machine-recipe__mask {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: -40px;
}

.slottt-machine-recipe__items_container {
    position: absolute;
    left: 50px;
}

.slottt-machine-recipe__item {
    max-width: 350px;
    min-height: 150px;
    max-height: 150px;
    margin: 0px;
    padding: 0px;
    background-size: contain;
    display: flex;
    flex-wrap: wrap;
    font-size: 3.5rem;
}

.recipe_if,
.recipe_then {
    font-weight: bold;
    font-size: 80px;
}

.tagline {
    font-weight: normal;
    font-size: 24px;
}

#start-btn {
    position: absolute;
    width: 50px;
    height: 150px;
    top:25%;
    left: 63%;
    text-align: center;
    background-color: transparent;
    cursor: pointer; 
    border: none; 
    z-index: 5;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #33CCFF;
}

footer {
    width: 100%;
    height: 2.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
    pointer-events: none;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}